:root {
	--white: #ffffff;
	--blue: #3274ff;
}
html {
	font-size: 16px;
	color: #3d3d3d;
	line-height: 18px;
}
body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	color: #222222;
	font-family: "TT Hoves";
	padding: 0 calc(5.6vw - 1px); /*80px*/
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
p {
	margin: 0 0 10px;
}

/* бургер */
/* Гамбургер иконка */
.menu-btn {
	display: none;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 4%;
	z-index: 2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
	display: none;
}
.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	background-color: rgba(197, 197, 197, 0.7);
	transform: translateX(-100%);
	transition: transform 0.5s;
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
	margin-right: 100px;
}
.menu li a {
	text-transform: none;
	text-decoration: none;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: calc(1.9vw + 3px) 0;
	gap: 20px;
}
span {
	font-family: "TT Hoves";
	font-weight: 400;
	font-size: 16px;
	line-height: 119%;
}
p {
	font-family: "TT Hoves";
	font-weight: 400;
	font-size: calc(0.2vw + 17.3px);
	line-height: 120%;
	letter-spacing: -0.015em;
	color: #000000;
}
header .headBtn {
	display: none;
}
.headerLeft {
	display: flex;
}
.headerLeft img {
	margin-right: calc(5.7vw - 1px);
	width: 126px;
	height: 20px;
}
/* адаптивка = основной размер / 4 */
.pages {
	display: flex;
	gap: calc(3vw - 0.5px);
}
.headerLeft div span {
	cursor: pointer;
}
.headerRight {
	display: flex;
	flex-wrap: wrap;
}
.lang {
	display: flex;
	flex-direction: column;
	gap: calc(1.4vw - 2.5px); /*20px*/
}
.langRu {
	display: flex;
	margin-right: calc(3vw - 0.5px); /* 40px*/
	gap: calc(0.9vw + 1.5px);
	text-transform: uppercase;
}
.langRu span {
	margin: auto;
}
.langUz {
	display: none;
	position: absolute;
	top: 10%;
	margin: 0 calc(3vw - 0.5px);
	gap: calc(0.9vw + 1.5px);
	text-transform: uppercase;
}
.langUz span {
	margin: auto;
}
.headBtnOne {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	/* margin-top: -10px; */
    margin-top: -20px;
}
.headBtnTwo {
	display: none;
}
.primary {
	cursor: pointer;
	letter-spacing: -0.01em;
	color: var(--blue);
	border: 1px solid var(--blue);
	padding: 10px 47px;
	border-radius: 0.5em;
	margin: 0;
}
.secondary {
	min-width: 130px;
	cursor: pointer;
	letter-spacing: -0.01em;
	color: var(--white);
	background-color: var(--blue);
	padding: 10px 20px;
	border-radius: 0.5em;
	margin: 0;
}
.headBtnOne a,
.headBtnTwo a {
	text-decoration: none;
}

/* window1 */

.wOne {
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(7.5vw - 8px);
	gap: calc(7.5vw - 8px);
}
.wOneOne {
	flex-basis: 55%;
}
.wOneOne p {
	margin-top: 30px;
	margin-bottom: 50px;
}
.wOneTwo {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 12px;
	flex-basis: 35%;
}
.wOneTwo img {
	height: calc(11.3vw + 27.6px);
}
.search {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.search input {
	width: calc(18.3vw + 251px);
	height: 40px;
	border: 1px solid #9ca3af;
	border-radius: 0.5em;
	padding-left: 10px;
}
input:active,
input:hover,
input:focus {
	outline: 0;
	outline-offset: 0;
}

/* window2 */

.wTwo {
	margin-top: calc(7.5vw - 8px);
}
h2 {
	margin: 0;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	letter-spacing: -0.015em;
}
.wTwoFlex {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	gap: 30px;
	margin-top: 30px;
}
.wTwoFlex div {
	flex-basis: 300px;
	align-items: center;
	padding: 20px;
	flex-grow: 1;
}
.wTwo p {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}
.wTwo img {
	width: 83px;
}

/* window3 */

.wThree {
	margin-top: calc(7.5vw - 8px);
}
.wThreeFlex {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	gap: 30px;
	margin-top: 30px;
	color: var(--white);
}
.wThreeFlexChild {
	flex-basis: 300px;
	align-items: center;
	padding: 20px;
	background-color: var(--blue);
	flex-grow: 1;
	border-radius: 0.5em;
}
.wThreeFlexImg {
	display: flex;
	align-items: center;
	gap: 30px;
}
h3 {
	margin: 0;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
}

/* window4 */

.wFour {
	margin-top: calc(7.5vw - 8px);
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
}
h4 {
	margin: 0;
	font-weight: 600;
	font-size: 41.4458px;
	line-height: 49px;
}
.wFourLeft p {
	margin: 22px 0;
}
.wFourLeft {
	flex-basis: 400px;
	flex-grow: 1;
}
.w4OpsOne {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: var(--blue);
	padding: 18px 25px;
	color: var(--white);
	border-radius: 1.5em;
	width: 9em;
	position: relative;
	top: -25%;
	left: -25%;
}
.w4OpsTwo div {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.w4OpsTwo {
	border: 2px solid var(--blue);
	padding: 12px 24px 20px 20px;
	border-radius: 1.5em;
	width: 9em;
	position: relative;
	background-color: var(--white);
	top: -76%;
	right: -69%;
}
.w4OpsTwo p {
	margin: 0;
}
.w4OpsTwo span {
	font-size: 18.6506px;
	line-height: 22px;
}
.imgW4 {
	width: 342px;
	height: 431px;
}
.wFourRight {
	padding-left: calc(7.5vw - 8px);
	padding-right: calc(5.6vw - 1px);
	margin-bottom: -10em;
}

/* window4 */

.wFive {
	margin-top: calc(7.5vw - 8px);
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: 3em;
}

.wFiveLeft p {
	margin: 22px 0;
}
.wFiveLeft {
	flex-basis: 400px;
	flex-grow: 1;
}
.w5OpsOne {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: var(--blue);
	padding: 18px 25px;
	color: var(--white);
	border-radius: 1.5em;
	width: 9em;
	position: relative;
	top: -57%;
	left: -25%;
}
.w5OpsTwo div {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.w5OpsTwo {
	border: 2px solid var(--blue);
	padding: 12px 24px 20px 20px;
	border-radius: 1.5em;
	width: 9em;
	position: relative;
	background-color: var(--white);
	top: -46%;
	right: -69%;
}
.w5OpsTwo p {
	margin: 0;
	color: var(--blue);
	font-weight: 600;
	font-size: 40px;
	line-height: 47px;
}
.w5OpsTwo span {
	font-size: 18.6506px;
	line-height: 22px;
}
.imgW5 {
	width: 342px;
	height: 431px;
}
.wFiveRight {
	padding-left: calc(7.5vw - 8px);
	padding-right: calc(5.6vw - 1px);
	margin-bottom: -10em;
}

/* window6 */

footer {
	display: flex;
	justify-content: space-between;
	padding-top: 44px;
	padding-bottom: 67px;
}
.w6One {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 45px;
	font-size: 15px;
	line-height: 24px;
}

.footerLogo {
	width: 126px;
	height: 20px;
}
.w6PayMe {
	display: flex;
	gap: 33px;
	width: 40px;
}

.w6Two {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 35px;
	font-size: 15px;
	line-height: 24px;
}
.w6CMM {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 23px;
}
.w6CMMCopy {
	display: none;
	align-items: center;
	gap: 23px;
}

/* Page_registration */

.formReg {
	box-sizing: border-box;
	margin: 85px auto 0;
	padding: 40px 80px 40px 40px;
	width: calc(14vw + 315.5px);
	max-width: 516px;

	background: var(--white);
	border: 2px solid var(--blue);
	border-radius: 14px;
}
.formReg p {
	margin: 14px auto 0;
}
.formInputBlock {
	display: flex;
	flex-direction: column;
}
.formInputBlock label,
input {
	display: block;
}
.formReg label {
	margin-top: 36px;

	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.01em;
	color: #4b5563;
}
.formInputBlock input {
	margin-top: 15px;
	width: calc(14vw + 190px);
	max-width: 396px;
	height: 40px;

	background: var(--white);
	border: 1px solid #9ca3af;
	border-radius: 0.5em;
	padding-left: 10px;
}
.formChekFlex {
	display: flex;
	margin-top: 28px;
}
.formChekFlex label {
	margin: 0;
}
.chekbox {
	width: 30px;
	height: 30px;
	background: var(--white);
	border: 1px solid #9ca3af;
	border-radius: 4px;
}
.formChekFlex label a {
	color: var(--blue);
}
.secondary.regForm {
	margin-top: 36px;
	border: none;
	font-size: 16px;
	line-height: 20px;
}
.enterWith {
	margin-top: 36px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	text-align: center;
}
.enterWith span {
	font-size: 18px;
	line-height: 22px;
}
.enterWithIcons {
	display: flex;
	gap: 32px;
	justify-content: center;
}

/*? backend correction */
.regForm__error {
	display: block;
	margin-top: 15px;
    color: red;
}

.regForm__link {
	display: block;
	margin-top: 15px;
}

.logged__link {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

/* Page_enter */

@media (min-width: 1444px) {
	.imgW4 {
		width: calc(17.5vw + 84px);
		height: calc(22.5vw + 106.4px);
	}
	.imgW5 {
		width: calc(17.5vw + 84px);
		height: calc(22.5vw + 106.4px);
	}
}
@media (max-width: 900px) {
	.pages {
		display: none;
	}
	.headBtnOne {
		display: none;
	}
	.headBtnTwo {
		display: flex;
		gap: 20px;
		margin-right: 30px;
	}
	header {
		justify-content: flex-start;
	}
	.menu-btn {
		display: block;
	}
	.wOneTwo {
		flex-wrap: nowrap;
	}
	.wOneOne {
		flex-basis: 90%;
	}
	.w4OpsOne {
		left: -15%;
	}
	.w5OpsOne {
		left: -15%;
	}
	.w6CMM {
		display: none;
	}
	.w6CMMCopy {
		display: flex;
	}
}
@media (max-width: 680px) {
	.primary {
		margin: 0;
	}
	.secondary {
		margin: 0;
	}
	.imgW4 {
		width: calc(38.2vw + 113px);
		height: calc(48vw + 143px);
	}
	.w4OpsTwo {
		right: -49%;
	}
	.imgW5 {
		width: calc(38.2vw + 113px);
		height: calc(48vw + 143px);
	}
	.w5OpsTwo {
		right: -39%;
	}
}
@media (min-width: 900px) {
	.menu {
		display: none;
	}
}
