{% extends 'base.html' %}
{% load static %}

{% block title %}
Create order
{% endblock title %}
  <!-- Windows__user__profile -->
  {% block content %}
    <section class="t3_h2">
      <h2>Мой заказ</h2>
    </section>

    <form action="" method='POST'>
      {% csrf_token %}
    <section class="inform__profile">
      <div class="h5__with__pancil">
        <h5>Заголовок</h5>
      </div>
      {{form.title}}
      {{form.title.errors}}
      <img class="imgPancilClick" src="./img/fi-rr-pencil (1).png" alt="">
    </section>
  
    <section class="all_form__t3">
      <form action="" class="form__t3">
        <label for="">
          Срок подачи заявок
          {% comment %} <input type="date"> {% endcomment %}
          {{form.deadline}}
          <span style='font-size: 14px'>* в формате yyyy/mm/dd</span>
          {{form.deadline.errors}}
        </label>
        <br>
        <label for="">
          Страна
          {% comment %} <input type="text" list="countries" placeholder="Узбекистан"> {% endcomment %}
          {{form.country}}
          {{form.country.errors}}
        </label>
        <label for="">
          Город
          {% comment %} <input type="text" list="cities" placeholder="Ташкент"> {% endcomment %}
          {{form.city}}
          {{form.city.errors}}
        </label>
        <label for="id_category">
          Рынок
          <br>
          {{form.category}}
          {{form.catefory.errors}}
          {% comment %} <input type="text" list="market" placeholder="Дизайн"> {% endcomment %}
        
        </label>


    </section>
    <section class="inform__profile">
      <div class="h5__with__pancil">
        <h5>Навыки</h5>
      </div>
      {{form.required_skills}}
      <span style='font-size: 14px'>* через запятую</span>
      {{form.required_skills.errors}}

      <img class="imgPancilClick" src="./img/fi-rr-pencil (1).png" alt="">
    </section>
    <section class="inform__profile">
      <div class="h5__with__pancil">
        <h5>Описание работы</h5>
      </div>
      {% comment %} <span>Нет данных</span> {% endcomment %}
      {{form.description}}
      {{form.description.errors}}
      <img class="imgPancilClick" src="./img/fi-rr-pencil (1).png" alt="">
    </section>

    <section class="inform__profile">
      <div class="h5__with__pancil">
        <h5>Бюджет</h5>
      </div>
      {% comment %} <span>Нет данных</span> {% endcomment %}
      <div class='budget__container' style="display:flex; align-items: center; gap: 30px;">
        {{form.budget}}
        {{form.budget.errors}}
        {{form.budget_currency}}
        {{form.budget_currency.errors}}
        {{form.budget_type}}
        {{form.budget_type.errors}}
      </div>
      <img class="imgPancilClick" src="./img/fi-rr-pencil (1).png" alt="">
    </section>
    <input type="hidden" name="owner" value="{{ user_id }}">
    <input type="submit" value='Submit'>
    </form>
      
    {% endblock content %}  
