{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<title>{% block title %}{% endblock title %}</title>
	</head>
	<body>
		<header>
			<div class="headerLeft">
				<img src="{% static 'img/logo.png' %}" alt="" />
				<div class="pages">
					<a href="{% url 'index' %}"><span>Главная</span></a>
					<a href="{% url 'projects' %}"><span>Проекты</span></a>
					<a href=""><span>Специалисты</span></a>
					<a href="#"><span>Помощь</span></a>
				</div>
				<div class="menu-btn">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="menu">
					<div>
						<ul>
						<li><a href="./index.html">Главная</a></li>
						<li><a href="{% url 'projects' %}">Проекты</a></li>
						<li><a href="./project__specialists.html">Специалисты</a></li>
						<li><a href="#">Помощь</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="headerRight">
				<div class="lang">
					<div class="langRu">
						<img src="{% static 'img/lang.svg' %}" alt="">
						<span>ru</span>
						<img src="{% static 'img/arrow.svg' %}" alt=""> 
					</div>
					<div class="langUz">
						<img src="{% static 'img/lang.svg' %}" alt="">
						<span>uz</span>
					</div>
				</div>
				
			</div>
			{% if user.is_authenticated %}
			{{user.username}}
			<div class="headBtnOneAnother">
				<a href="#"><img src="{% static 'img/message.svg' %}" alt=""></a> 
				<a href="#"><img src="{% static 'img/bulb.svg' %}" alt=""></a>
				<a class="userMenu" href="#"><img src="{% static 'img/user.svg' %}" alt=""></a>
				<div class="userMenuWindow none">
					<a href=""><span>Профиль</span></a>
					<a href=""><span>Мои Заказы</span></a>
					<a href=""><span>Личный кабинет</span></a>
					<a href=""><span>Мой кошелек</span></a>
					<a href=""><span>Настройки</span></a>
					<a href="{% url 'logout' %}"><span>Выйти</span></a>
				</div>
			</div>
			{% else %}
			<div class="headBtnOne">
				<a href="{% url 'login' %}"><span class="primary">Вход</span></a>
				<a href="{% url 'register' %}"><span class="secondary">Регистрация</span></a>  
			</div>
			{% endif %}
		</header>
		{% block content %} {% endblock content %}
		<footer>
			<div class="w6One">
				<img class="footerLogo" src="{% static 'img/logo.png' %}" alt="">
				<div class="w6PayMe">
					<img src="{% static 'img/visa.svg' %}" alt="">
					<img src="{% static 'img/unionpay.svg' %}" alt="">
					<img src="{% static 'img/mastercard.svg' %}" alt="">
				</div>
				<div class="w6CMMCopy">
					<span>Follow us:</span>
					<img src="{% static 'img/instagram.svg' %}" alt="">
					<img src="{% static 'img/telegram.svg' %}" alt="">
					<img src="{% static 'img/youtube.svg' %}" alt="">
					<img src="{% static 'img/linkedin.svg' %}" alt="">
				</div>
				<span>Copyright© TEHNIKUM SCHOOL LLC. All rights reserved.</span>
			</div>
			<div class="w6Two">
				<div class="pages">
				  <a href="./project__orders.html"><span>Проекты</span></a>
				  <a href="./project__specialists.html"><span>Специалисты</span></a>
				  <a href="#"><span>Помощь</span></a>
				</div>
				<div class="w6CMM">
					<span>Follow us:</span>
					<img src="{% static 'img/instagram.svg' %}" alt="">
					<img src="{% static 'img/telegram.svg' %}" alt="">
					<img src="{% static 'img/youtube.svg' %}" alt="">
					<img src="{% static 'img/linkedin.svg' %}" alt="">
				</div>
			</div>
		</footer>
		
		<script src="{% static 'js/script.js' %}"></script>
	</body>

</html>
