{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Enter_your_accaunt</title>
</head>
<body>
  <form class="formReg" action="#" method="POST">
    {% csrf_token %}
    <div class="imgLogo">
      <img src="{% static 'img/logo.png' %}" alt="" />
    </div>
    <p>Вход</p>
    <div class="formInputBlock">
      <label for=""
        >Логин или email:
        {% comment %} {{form.email}} {% endcomment %}
        {{form.username}}
      </label>
      <label for=""
        >Пароль:
        {{form.password}}
      </label>
    </div>
    <span class="regForm__error">{{error}}</span>
    <input class="secondary regForm" type="submit" value="Вход" />
    <span class="regForm__link"
      >Ещё нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></span
    >
    <div class="enterWith">
      <span>Войти с помощью</span>
      <div class="enterWithIcons">
        <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'img/google.svg' %}" alt="" /></a>
        {% comment %} <a href="#"><img src="{% static 'img/discord.svg' %}" alt="" /></a> {% endcomment %}
        <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'img/facebook.svg' %}" alt="" /></a>
      </div>
    </div>
  </form>

  <script src="{% static '' %}"></script>
</body>
</html>