<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Error__404</title>
</head>
<body>
  <header>
    <div class="headerLeft">
      <img src="./img/logo.svg" alt="">
      <div class="pages">
        <a href="./index.html"><span>Главная</span></a>
        <a href="./project__orders.html"><span>Проекты</span></a>
        <a href="./project__specialists.html"><span>Специалисты</span></a>
        <a href="#"><span>Помощь</span></a>
      </div>
      <div class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu">
        <div>
          <ul>
          <li><a href="./index.html">Главная</a></li>
          <li><a href="./project__orders.html">Проекты</a></li>
          <li><a href="./project__specialists.html">Специалисты</a></li>
          <li><a href="#">Помощь</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="headerRight">
      <div class="lang">
        <div class="langRu">
          <img src="./img/lang.svg" alt="">
          <span>ru</span>
          <img src="./img/arrow.svg" alt=""> 
        </div>
        <div class="langUz">
          <img src="./img/lang.svg" alt="">
          <span>uz</span>
        </div>
      </div>
    </div>
    <div class="headBtnOne">
      <a href="./enter.html"><span class="primary">Вход</span></a>
      <a href="./registration.html"><span class="secondary">Регистрация</span></a>  
    </div>
    <div class="headBtnOneAnother">
      <a href="#"><img src="./img/message.svg" alt=""></a> 
      <a href="#"><img src="./img/bulb.svg" alt=""></a>
      <a class="userMenu" href="#"><img src="./img/user.svg" alt=""></a>
      <div class="userMenuWindow none">
        <a href=""><span>Профиль</span></a>
        <a href=""><span>Мои Заказы</span></a>
        <a href=""><span>Личный кабинет</span></a>
        <a href=""><span>Мой кошелек</span></a>
        <a href=""><span>Настройки</span></a>
        <a href=""><span>Выйти</span></a>
      </div>
    </div>
  </header>

  <section class="wrapper__error">
    <div class="imgBtn__error">
      <div class="img__error">
        <img src="./img/404 (1).png" alt="">
      </div>
      <input class="secondary regForm" type="button" onclick="history.back();" value="Вернутся на предвидящею страницу">
    </div>
  </section>

  <script src="./js/script.js"></script>
</body>
</html>