{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<!-- window1 -->
<section>
    <div class="wOne">
        {% if request.user.user_type_id == 1 %}
        <div class="wOneOne">
            <h2>Вы можете найти лучшие заказы в сфере фриланса.</h2>
            <p>это современная онлайн-платформа, которая предоставляет услуги как для тех, кто ищет работу, так и для работодателей</p>
            <div class="search">
                <form action="" method='GET'>
                    <input type="text" placeholder="Разработка" name='query' class='queryOrder'>
                    <input type='submit' class="secondary" value='Найти заказы'>
                </form>
            </div>
        </div>
        {% else %}
        <div class="wOneOne">
            <h2>Вы можете найти лучшие предложения по работе в сфере фриланса для вашего бизнеса.</h2>
            <p>это современная онлайн-платформа, которая предоставляет услуги как для тех, кто ищет работу, так и для работодателей</p>
            <div class="search">
                <form action="" method="GET">
                    <input type="text" placeholder='Программист' name='query' class='queryOrder'>
                    <input type='submit' class="secondary" value='Найти специалиста'>
                </form>
            </div>
        </div>
        {% endif %}
        <div class="wOneTwo">
            <img src="{% static 'img/creative-wOne.png' %}" alt="">
            <img src="{% static 'img/girl-wOne.png' %}" alt="">
            <img src="{% static 'img/girlWithoutHourse-wOne.png' %}" alt="">
            <img src="{% static 'img/Аналитика.png' %}" alt="">
        </div>
    </div>
</section>

<!-- window2 -->

<section>
    <div class="wTwo">
        <h2>Наше преимущество</h2>
        <div>
           <div class="wTwoFlex">
                <div>
                    <img src="{% static 'img/w2-1.svg' %}" alt="">
                    <p>1 300 работодательей</p>
                    <span>Работодатели с Узбекистана и не только</span>
                </div>
                <div>
                    <img src="{% static 'img/w2-2.svg' %}" alt="">
                    <p>3 210 Вакансии</p>
                    <span>Вакансии в 50 сферах</span>
                </div>
                <div>
                    <img src="{% static 'img/w2-3.svg' %}" alt="">
                    <p>310 компаний</p>
                    <span>Компании в сферах маркетинга, производства, экономики, IT и т д.</span>
                </div>
            </div> 
        </div>
    </div>
</section>

<!-- window3 -->

<section>
    <div class="wThree">
        <h2>Категории услуг</h2>
        <div class="wThreeFlex">
            {% for i in categories %}
            <a href="{% url 'projects' %}" style='display: block; color: #fff;' class='wThreeFlexChild'>
                {% comment %} <div class="wThreeFlexChild"> {% endcomment %}
                    <div class="wThreeFlexImg">
                        {% if i.picture %}
                        <img src="{{i.picture.url}}" alt="">
                        {% endif %}
                        <h3>{{i.name}}</h3>
                    </div>
                    <span>{{i.subtitle}}</span>
            {% comment %} </div> {% endcomment %}
            </a>
          
            {% endfor %}
      
            {% comment %} <div class="wThreeFlexChild">
                <div class="wThreeFlexImg">
                    <img src="{% static 'img/w3-2.svg' %}" alt="">
                    <h3>Разработка, IT</h3>
                </div>
                <span>Настройка сайта, исправление сайта и т. д.</span>
            </div>
            <div class="wThreeFlexChild">
                <div class="wThreeFlexImg">
                    <img src="{% static 'img/w3-3.svg' %}" alt="">
                    <h3>SMM, Реклама</h3>
                </div>
                <span>Продвижение соц сетей и т. д.</span>
            </div>
            <div class="wThreeFlexChild">
                <div class="wThreeFlexImg">
                    <img src="{% static 'img/w3-4.svg' %}" alt="">
                    <h3>Аудио, Видео</h3>
                </div>
                <span>Монтаж видео, обработка фото и т. д.</span>
            </div>
            <div class="wThreeFlexChild">
                <div class="wThreeFlexImg">
                    <img src="{% static 'img/w3-5.svg' %}" alt="">
                    <h3>Бизнес</h3>
                </div>
                <span>MS office, анализ информации и т. д.</span>
            </div>
            <div class="wThreeFlexChild">
                <div class="wThreeFlexImg">
                    <img src="{% static 'img/w3-6.svg' %}" alt="">
                    <h3>Производство</h3>
                </div>
                <span>Автоматизация производства, сварка и т. д.</span>
            </div> {% endcomment %}
        </div>
    </div>
</section>

<!-- window4 -->

<section>
    <div class="wFour">
        <div class="wFourLeft">
            <h2>Для исполнительей</h2>
            <p>Для тех, кто ищет работу, наша биржа предлагает широкий выбор возможностей. Вы можете найти проекты в различных отраслях и сферах деятельности, включая разработку сайтов, программирование, дизайн, написание текстов и многое другое. Выбирайте проекты в соответствии с вашими навыками и опытом, и получайте высокую оплату за свой труд.</p>
            <span class="secondary">Посмотреть вакансии</span> 
        </div>
        <div class="wFourRight">
            <img class="imgW4" src="{% static 'img/w4.png' %}" alt="">
            <div class="w4OpsOne">
                <span>Доход в среднем от</span>
                <h4>$ 300</h4>
            </div>
            <div class="w4OpsTwo">
                <div>
                   <img src="./img/w4Ops.svg" alt=""> 
                   <p>Работодатели</p>
                </div>
                <span class="secondary">Проверенные</span> 
            </div>  
        </div>
    </div>
</section>


<!-- window5 -->

<section>
    <div class="wFive">
        <div class="wFiveLeft">
            <h2>Для работодателей</h2>
            <p>Для работодателей наша биржа является надежным и быстрым способом найти лучших кандидатов для своих проектов. Вы можете выбирать из множества профессионалов с различным опытом и навыками, и нанимать тех, кто лучше всего подходит для вашего проекта. Мы гарантируем высококачественную работу и быстрое выполнение проектов.</p>
            <span class="secondary">Топовые исполнители</span> 
        </div>
        <div class="wFiveRight">
            <img class="imgW5" src="{% static 'img/w5.png' %}" alt="">
            <div class="w5OpsOne">
                <span>Более</span>
                <h4>8 000</h4>
                <span>Соискательей</span>
            </div>
            <div class="w5OpsTwo">
                <p>1 000+</p>
                <span>Довольных клиентов</span>
            </div>  
        </div>
    </div>
</section>

<!-- window6 -->



{% endblock content %}

