<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Messenger__all__messages</title>
</head>
<body>
    <header>
        <div class="headerLeft">
            <img src="./img/logo.svg" alt="">
            <div class="pages">
                <a href="./index.html"><span>Главная</span></a>
                <a href="./project__orders.html"><span>Проекты</span></a>
                <a href="./project__specialists.html"><span>Специалисты</span></a>
                <a href="#"><span>Помощь</span></a>
            </div>
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu">
                <div>
                    <ul>
                    <li><a href="./index.html">Главная</a></li>
                    <li><a href="./project__orders.html">Проекты</a></li>
                    <li><a href="./project__specialists.html">Специалисты</a></li>
                    <li><a href="#">Помощь</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="headerRight">
            <div class="lang">
                <div class="langRu">
                    <img src="./img/lang.svg" alt="">
                    <span>ru</span>
                    <img src="./img/arrow.svg" alt=""> 
                </div>
                <div class="langUz">
                    <img src="./img/lang.svg" alt="">
                    <span>uz</span>
                </div>
            </div>
            
        </div>
        <div class="headBtnOne">
            <a href="./enter.html"><span class="primary">Вход</span></a>
            <a href="./registration.html"><span class="secondary">Регистрация</span></a>  
        </div>
        <div class="headBtnOneAnother">
            <a href="#"><img src="./img/message.svg" alt=""></a> 
            <a href="#"><img src="./img/bulb.svg" alt=""></a>
            <a class="userMenu" href="#"><img src="./img/user.svg" alt=""></a>
            <div class="userMenuWindow none">
                <a href=""><span>Профиль</span></a>
                <a href=""><span>Мои Заказы</span></a>
                <a href=""><span>Личный кабинет</span></a>
                <a href=""><span>Мой кошелек</span></a>
                <a href=""><span>Настройки</span></a>
                <a href=""><span>Выйти</span></a>
            </div>
        </div>
        
    </header>
    
    <section class="messagesAll">
      <h2>Сообщения</h2>
      <div class="twoBlocks__projects">
        <div class="leftBlock__projects">
          <div class="ordersBlock__projects">
            <div class="orderAllBlock messegeFlex">
              <div class="imgOrderBlock">
                <img src="./img/Switch_3 (1).jpg" alt="">
                <div class="imgPosOrderBlock">
                  <img src="./img/Vertical container_green(1).png" alt="">
                </div>
              </div>
              <div class="name__with__message">
                <h5>Е. И. Пономарева</h5>
                <h5>Добрый день!, сделали статистику аудитории в разных сигментах...</h5>
              </div>
            </div>
            <div class="orderAllBlock messegeFlex">
              <div class="imgOrderBlock">
                <img src="./img/Switch_4 (1).jpg" alt="">
                <div class="imgPosOrderBlock">
                  <img src="./img/Vertical container_gray(1).png" alt="">
                </div>
              </div>
              <div class="name__with__message">
                <h5>А. К. Лаптев</h5>
                <h5>Добрый день!, сделали статистику аудитории в разных сигментах...</h5>
              </div>
            </div>
            <div class="orderAllBlock messegeFlex">
              <div class="imgOrderBlock">
                <img src="./img/Switch_3 (1).jpg" alt="">
                <div class="imgPosOrderBlock">
                  <img src="./img/Vertical container_green(1).png" alt="">
                </div>
              </div>
              <div class="name__with__message">
                <h5>Е. И. Пономарева</h5>
                <h5>Добрый день!, сделали статистику аудитории в разных сигментах...</h5>
              </div>
            </div>
            <div class="orderAllBlock messegeFlex">
              <div class="imgOrderBlock">
                <img src="./img/Switch_4 (1).jpg" alt="">
                <div class="imgPosOrderBlock">
                  <img src="./img/Vertical container_gray(1).png" alt="">
                </div>
              </div>
              <div class="name__with__message">
                <h5>А. К. Лаптев</h5>
                <h5>Добрый день!, сделали статистику аудитории в разных сигментах...</h5>
              </div>
            </div>
            <div class="orderAllBlock messegeFlex">
              <div class="imgOrderBlock">
                <img src="./img/Switch_3 (1).jpg" alt="">
                <div class="imgPosOrderBlock">
                  <img src="./img/Vertical container_green(1).png" alt="">
                </div>
              </div>
              <div class="name__with__message">
                <h5>Е. И. Пономарева</h5>
                <h5>Добрый день!, сделали статистику аудитории в разных сигментах...</h5>
              </div>
            </div>
            <div class="orderAllBlock messegeFlex">
              <div class="imgOrderBlock">
                <img src="./img/Switch_4 (1).jpg" alt="">
                <div class="imgPosOrderBlock">
                  <img src="./img/Vertical container_gray(1).png" alt="">
                </div>
              </div>
              <div class="name__with__message">
                <h5>А. К. Лаптев</h5>
                <h5>Добрый день!, сделали статистику аудитории в разных сигментах...</h5>
              </div>
            </div>
            <div class="orderAllBlock messegeFlex">
              <div class="imgOrderBlock">
                <img src="./img/Switch_3 (1).jpg" alt="">
                <div class="imgPosOrderBlock">
                  <img src="./img/Vertical container_green(1).png" alt="">
                </div>
              </div>
              <div class="name__with__message">
                <h5>Е. И. Пономарева</h5>
                <h5>Добрый день!, сделали статистику аудитории в разных сигментах...</h5>
              </div>
            </div>
            <div class="orderAllBlock messegeFlex">
              <div class="imgOrderBlock">
                <img src="./img/Switch_4 (1).jpg" alt="">
                <div class="imgPosOrderBlock">
                  <img src="./img/Vertical container_gray(1).png" alt="">
                </div>
              </div>
              <div class="name__with__message">
                <h5>А. К. Лаптев</h5>
                <h5>Добрый день!, сделали статистику аудитории в разных сигментах...</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="rightBlock__projects">
          <div class="services">
            <h4>Фильтр по направлениям</h4>
            <form action="" class="form__services">
              <label for="">
                <input type="checkbox">
                Дизайн
              </label>
              <label for="">
                <input type="checkbox">
                Разработка, IT
              </label>
              <label for="">
                <input type="checkbox">
                SMM, реклама
              </label>
              <label for="">
                <input type="checkbox">
                Аудио, Видео
              </label>
              <label for="">
                <input type="checkbox">
                Бизнес
              </label>
              <label for="">
                <input type="checkbox">
                Маркетинг
              </label>
              <label for="">
                <input type="checkbox">
                Тестирование
              </label>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="pageNumbers__projects">
      <a href="#"><img src="./img/Group 11.svg" alt=""></a>
      <a href="#">1</a>
      <a class="activeNumber__projects" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">...</a>
      <a href="#"><img src="./img/Group 16.svg" alt=""></a>
    </div>

    



    <footer>
      <div class="w6One">
          <img class="footerLogo" src="./img/TEH-LOGO 1.svg" alt="">
          <div class="w6PayMe">
              <a href="#"><img src="./img/visa.svg" alt=""></a>
              <a href="#"><img src="./img/unionpay.svg" alt=""></a>
              <a href="#"><img src="./img/mastercard.svg" alt=""></a>
          </div>
          <div class="w6CMMCopy">
              <span>Follow us:</span>
              <a href="#"><img src="./img/instagram.svg" alt=""></a>
              <a href="#"><img src="./img/telegram.svg" alt=""></a>
              <a href="#"><img src="./img/youtube.svg" alt=""></a>
              <a href="#"><img src="./img/linkedin.svg" alt=""></a>
          </div>
          <span>Copyright© TEHNIKUM SCHOOL LLC. All rights reserved.</span>
      </div>
      <div class="w6Two">
          <div class="pages">
            <a href="./index.html"><span>Главная</span></a>
            <a href="./project__orders.html"><span>Проекты</span></a>
            <a href="./project__specialists.html"><span>Специалисты</span></a>
            <a href="#"><span>Помощь</span></a>
          </div>
          <div class="w6CMM">
              <span>Follow us:</span>
              <a href="#"><img src="./img/instagram.svg" alt=""></a>
              <a href="#"><img src="./img/telegram.svg" alt=""></a>
              <a href="#"><img src="./img/youtube.svg" alt=""></a>
              <a href="#"><img src="./img/linkedin.svg" alt=""></a>
          </div>
      </div>
  </footer>

    <script src="./js/script.js"></script>
</body>
</html>