{% extends 'base.html' %}
{% load static %}
{% block title %}
Chat with {{chat.send_to.username}}
{% endblock title %}
{% block content %}
<main class="messages">
    <h2>Сообщения</h2>
    <div class="messagesServes">
        <div class="messagesServesLeft">
            <div class="userPhotoNameMassage">
                <a href="{% url 'profile' chat.send_to.id %}">
                    {% if request.user == chat.send_to %}
                    <img src="{{chat.sender.image.url}}" alt="">
                    {% else %}
                    {% if chat.send_to.image %}
                    <img src="{{chat.send_to.image.url}}" alt="">
                    {% else %}
                    <img src="{% static 'img/profile-icon-design-free-vector.webp' %}" alt="">
                    {% endif %}
    
                    {% endif %}
                </a>
                <div class="userPhotoNameMassageChild">
                    <span class="nameUserMessage">
            {% if chat.send_to == request.user %}
                        {{chat.sender.first_name}}
                {% else %}
                         {% if chat.send_to.first_name %}
                         {{chat.send_to.first_name}}
                         {% else %}
                         {{chat.send_to.username}}
                         {% endif %}
            {% endif %}
                    </span>
                    {% if chat.send_to.is_active %}
                    <span class="onlineOfoffline">Онлайн</span>
                    {% else %}
                    <span class="onlineOfoffline">Был в сети</span>
                    {% endif %}
                </div>
            </div>
            <div class="UserSpeak">
                {% for i in messages.all %}
                {% if i.sender == user %}
                <span class="speakRight">{{i.text}}
                    <div class='messageTime'>{{i.created_at|timesince}} ago</div>
                </span>
                {% else %}
                <span class="speakLeft">{{i.text}}
                    <div class='messageTime'>{{i.created_at|timesince}} ago</div>
                </span>
                {% endif %} 
       
                {% endfor %}
                
                {% comment %} <span class="speakLeft">Добрый день!, спасибо позже взгляну</span>
                <div class="speakRight"><img src="./img/PDF.svg" alt=""><span>Отчет №123 :(</span></div>
                <span class="speakRight">Добрый день!, запустили таргетированную рекламу в соц четя  Instagram, Facebook.</span> {% endcomment %}
            </div>
            <form action="" method='POST'>
                {% csrf_token %}
                <input type="text" name="message" id="message" placeholder="Напишите что нибудь">
            </form>
            <a href=""><img class="inputFileSend" src="{% static 'img/fileInput.svg' %}" alt=""></a>
            <a href=""><img class="inputSpeak" src="{% static 'img/mycrophoneInput.svg' %}" alt=""></a>
        </div>
        <div class="messagesServesRight">
            <div>
                <div>
                    <div class="userPhotoNameOrder">
                        {% if request.user == chat.send_to %}
                        {% for i in send_to_chats %}
                        <a href="">
                         <div class="friend 
                         ">
                             {% if i.sender.image %}
                             <img class="faceUser" src="{{i.sender.image.url}}" alt="">
                             {% else %}
                             <img class="faceUser" src="{% static 'img/profile-icon-design-free-vector.webp' %}" alt="">
                             {% endif %}
                             <img class="status" src="{% static 'img/useronline.svg' %}" alt="">
                             <div class="userPhotoNameOrderChild">
                                 <span class="nameUserMessage">
                                 {% if i.sender.first_name %}
                                 {{i.sender.first_name}}
                                 {% else %}
                                 {{i.sender.username}}
                                 {% endif %}
                                 </span>
                                 <span class="onlineOfoffline">Добрый день!</span>
                             </div>
                         </div>
                     </a> 
                         {% endfor %} 
                        {% else %}
                        {% for i in sender_chats %}
                        <a href="">
                         <div class="friend 
                         ">
                             {% if i.send_to.image %}
                             <img class="faceUser" src="{{i.send_to.image.url}}" alt="">
                             {% else %}
                             <img class="faceUser" src="{% static 'img/profile-icon-design-free-vector.webp' %}" alt="">
                             {% endif %}
                             <img class="status" src="{% static 'img/useronline.svg' %}" alt="">
                             <div class="userPhotoNameOrderChild">
                                 <span class="nameUserMessage">
                                 {% if i.send_to.first_name %}
                                 {{i.send_to.first_name}}
                                 {% else %}
                                 {{i.send_to.username}}
                                 {% endif %}
                                 </span>
                                 <span class="onlineOfoffline">Добрый день!</span>
                             </div>
                         </div>
                     </a> 
                         {% endfor %} 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
