{% extends 'base.html' %}
{% load static %}
{% block title %}Wallet{% endblock title %}
{% block content %}
<main class="onlineWallet">
    <h2>На электронном кошельке</h2>
    <span class="moneyOnWallet">{{wallet.balance}} сум</span>
    <div class="onlineWalletUp">
        <a href="{% url 'payment-first-step' %}" class="secondary">Пополнить кoшелек</a>   
    </div>
    <div class="onlineWalletTable">
        <table>
            <thead>
                <tr>
                    <td class="WalletProject flex">Проекты</td>
                    <td class="WalletPrice">Стоимость</td>
                    <td class="WalletStatus">Статус</td>
                    <td class="WalletRecipient">Кошелек получателя</td>
                </tr>
            </thead>
            <tbody>
                {% if orders %}
                {% for i in orders %}
                <form action="" method='POST'>
                    <tr>
                        <td class="projectCallOne flex"><input type="checkbox">{{i.title}}</td>
                        <td class="projectPriceOne">{{i.budget}} сум</td>
                        <td class="projectCompleteOne">{{i.status}}</td>
                        <td class="projectCardOne">1232 **** **** 2354</td>
                    </tr>
                </form>
                {% endfor %}
                {% else %}
                <tr>
                    <td>
                       
                    </td> 
                    <td>
                        <span>У вас нет проектов</span>
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>
        <div class="onlineWalletFlex">
            {% for i in orders %}
            <div class="walletProjectOne FlexWalletProjectObject">
                <div class="box">
                    <h5>Проект</h5>
                    <div class="inputWalletProjectDiv"><input type="checkbox">{{order.title}}</div>
                </div>
                <div class="box">
                    <h5>Стоимость</h5>
                    <span>{{order.budget}} сум</span>
                </div>
                <div class="box">
                    <h5>Статус</h5>
                    <span>{{order.status}}</span>
                </div>
                <div class="box">
                    <h5>Кошелек получателя</h5>
                    <span>1232 **** **** 2354</span>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="tableEnd">
            <span>Итого 0 сум</span>
            <a href="./registration.html" class="secondary wallet">Оплатить</a>
        </div>
    </div>
    
    <a href="#" class="onlineWalletSpan">Как пополнить кошелек</a>
    
</main>
{% endblock content %}
