<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Personal__area__executor</title>
</head>
<body>
    <header>
        <div class="headerLeft">
            <img src="./img/logo.svg" alt="">
            <div class="pages">
                <a href="./index.html"><span>Главная</span></a>
                <a href="./project__orders.html"><span>Проекты</span></a>
                <a href="./project__specialists.html"><span>Специалисты</span></a>
                <a href="#"><span>Помощь</span></a>
            </div>
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu">
                <div>
                    <ul>
                    <li><a href="./index.html">Главная</a></li>
                    <li><a href="./project__orders.html">Проекты</a></li>
                    <li><a href="./project__specialists.html">Специалисты</a></li>
                    <li><a href="#">Помощь</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="headerRight">
            <div class="lang">
                <div class="langRu">
                    <img src="./img/lang.svg" alt="">
                    <span>ru</span>
                    <img src="./img/arrow.svg" alt=""> 
                </div>
                <div class="langUz">
                    <img src="./img/lang.svg" alt="">
                    <span>uz</span>
                </div>
            </div>
        </div>
        <div class="headBtnOne">
            <a href="./enter.html"><span class="primary">Вход</span></a>
            <a href="./registration.html"><span class="secondary">Регистрация</span></a>  
        </div>
        <div class="headBtnOneAnother">
            <a href="#"><img src="./img/message.svg" alt=""></a> 
            <a href="#"><img src="./img/bulb.svg" alt=""></a>
            <a class="userMenu" href="#"><img src="./img/user.svg" alt=""></a>
            <div class="userMenuWindow none">
                <a href=""><span>Профиль</span></a>
                <a href=""><span>Мои Заказы</span></a>
                <a href=""><span>Личный кабинет</span></a>
                <a href=""><span>Мой кошелек</span></a>
                <a href=""><span>Настройки</span></a>
                <a href=""><span>Выйти</span></a>
            </div>
        </div>
    </header>

  <!-- Windows__user__profile -->

  <section class="userProfile__profile">
    <h2>Личный кабинет</h2>
    <div class="sectionFlex__personalArea">
      <div class="mainSection__profile">
        <div class="imgMain__profile">
          <img src="./img/Switch (1).jpg" alt="">
        </div>
        <div class="nameMain__profile">
          <div class="nameStarsMain__profile">
            <h2>Е. И. Пономарева</h2>
          </div>
          <div class="locationMain__profile">
            <img src="./img/fi-rr-marker (1).png" alt="">
            <span>Ташкент, Узбекистан</span>
          </div>
        </div>
      </div>
      <div class="wallet__personalArea">
        <h2>На электронном кошелке</h2>
        <h2>3 600 000 сум</h2>
        <input class="secondary regForm" type="submit" value="Вывести на карту">
      </div>
    </div>
  </section>

  <section class="howManyProjects">
    <div class="howManyProjects__block">
      <h2>В процессе</h2>
      <div class="blueH2">
        <h1>18</h1>
        <h2>Проектов</h2>
      </div>
      <input class="secondary regForm" type="submit" value="Посмотреть">
    </div>
    <div class="howManyProjects__block">
      <h2>Завершено</h2>
      <div class="blueH2">
        <h1>5</h1>
        <h2>Проектов</h2>
      </div>
      <input class="secondary regForm" type="submit" value="Посмотреть">
    </div>
    <div class="howManyProjects__block">
      <h2>Оставлено</h2>
      <div class="blueH2">
        <h1>15</h1>
        <h2>Отзывов</h2>
      </div>
      <input class="secondary regForm" type="submit" value="Посмотреть"></div>
  </section>

  <section class="inform__profile">
    <div class="h5__with__pancil">
      <h5>Личные данные</h5>
      <img src="./img/fi-rr-pencil (1).png" alt="">
    </div>
  </section>

  <section class="dateEmailNum__profile">
    <div class="date__profile">
      <h5>Дата рождения</h5>
      <span>29.11.2001</span>
    </div>
    <div class="date__profile">
      <h5>Email</h5>
      <a href="mailto:Ponamareva@gmail.com"><span>Ponamareva@gmail.com</span></a>
    </div>
    <div class="date__profile">
      <h5>Номер рабочего телефона</h5>
      <a href="tel:+998901234567"><span>+ 998 90 123 45 67</span></a>
    </div>
    <div class="date__profile">
      <h5>Номер личного телефона</h5>
      <a href="tel:+998900001111"><span>+ 998 90 000 11 11</span></a>
    </div>
  </section>

  <footer>
      <div class="w6One">
          <img class="footerLogo" src="./img/logo.png" alt="">
          <div class="w6PayMe">
              <img src="./img/visa.svg" alt="">
              <img src="./img/unionpay.svg" alt="">
              <img src="./img/mastercard.svg" alt="">
          </div>
          <div class="w6CMMCopy">
              <span>Follow us:</span>
              <img src="./img/instagram.svg" alt="">
              <img src="./img/telegram.svg" alt="">
              <img src="./img/youtube.svg" alt="">
              <img src="./img/linkedin.svg" alt="">
          </div>
          <span>Copyright© TEHNIKUM SCHOOL LLC. All rights reserved.</span>
      </div>
      <div class="w6Two">
          <div class="pages">
            <a href="./project__orders.html"><span>Проекты</span></a>
            <a href="./project__specialists.html"><span>Специалисты</span></a>
            <a href="#"><span>Помощь</span></a>
          </div>
          <div class="w6CMM">
              <span>Follow us:</span>
              <img src="./img/instagram.svg" alt="">
              <img src="./img/telegram.svg" alt="">
              <img src="./img/youtube.svg" alt="">
              <img src="./img/linkedin.svg" alt="">
          </div>
      </div>
  </footer>


  <script src="./js/script.js"></script>
</body>
</html>