{% extends 'base.html' %}
{% load static %}
{% block title %}
Services
{% endblock title %}
{% block content %}
<section class="twoBlocks__projects">
  <div class="leftBlock__projects">
    <div class="buttonsBlock__projects">
      <a class="primary" href="{% url 'projects' %}">Заказы</a>
      <a class="primary activeBtn" href="{% url 'services' %}">Услуги</a>
      <a class="primary" href="{% url 'freelancers' %}">Специалисты</a>
    </div>
    <div class="inputBlock__projects">
      <form action="" method='GET'>
        <div class="search">
          <input type="text" placeholder="Поиск" name='query'>

          <input class="secondary" type="submit" value='Найти услугу' style="width: 188px; text-align:center;">
        </div>
      </form>
    </div>

    <div class="ordersBlock__projects">
      {% for i in services %}
      {% if i.owner != request.user %}
      <div class="orderAllBlock">
        <div class="orderBlock">
          <div class="left__orderBlock">
            <h5>{{i.service_type}}</h5>
            <div class="nameLogo__orderBlock">
              <div class="logo__orderBlock">
                <img src="{% static 'img/Vertical container (1).png' %}" alt="">
              </div>
              <div class="name__orderBlock">{{i.owner}}</div>
            </div>
            <div class="img__orderBlock" style='margin-top: 25px;'>
              {% if i.image1 %}
            <img class='serviceImg' src="{{i.image1.url}}" alt="">
            <img class='serviceImg' src="{{i.image2.url}}" alt="">
            <img class='serviceImg' src="{{i.image3.url}}" alt="">
            {% else %}
            {% endif %}
             </div>
          </div>
          <div class="right__orderBlock">
            <div class="moneyBtn__orderBlock">
              <div class="money__orderBlock">
                <span>от {{i.minimal_price}} сум</span>
              </div>
              <div class="btn__orderBlock">
                <a class="secondary" href='{% url "chat" i.id %}'>Заказать</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      
    </div>
    <h2 class='emptyHeading' 
    style=
    'text-align:center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    '>{{not_found}}</h2>
  </div>
  <div class="rightBlock__projects">
    {% comment %} <div class="btn__orderBlock">
      <a class="secondary" href="./add__t__task.html">Создать задание</a>
    </div> {% endcomment %}
    <div class="services">
      <h4>Сфера услуг</h4>
      <form action="" class="form__services">
        {% for i in categories %}
        <label for="">
          <input type="checkbox">
          {{i.name}}
        </label>
        {% endfor %}
      
     
      </form>
    </div>
  </div>
</section>
{% if services %}
<div class="pagination pageNumbers__projects" style='gap: 20px;'>
  {% comment %} <span class="step-links"> {% endcomment %}
      {% if services.has_previous %}
          {% comment %} <a href="?page=1">&laquo; first</a> {% endcomment %}
          <a href="?page={{ services.previous_page_number }}">{{services.previous_page_number}}</a>
      {% endif %}

      <span class="current-page">
          {% comment %} Page {{ services.number }} of {{ services.paginator.num_pages }} {% endcomment %}
          {% if services.paginator.num_pages == 1 %}
          <a class='activeNumber__projects' style='text-align:center;'>
            1
          </a>
          {% else %}
          <a class='activeNumber__projects' style='text-align:center;'>
            {{ services.number }}
          </a>
          {% endif %}
      </span>
      {% if services.has_next %}
      {% if services.paginator.num_pages <= 2 %}
      <a href="?page={{ services.next_page_number }}">{{services.next_page_number}}</a>
      {% else %}
      <a href="?page={{ services.paginator.num_pages }}">{{services.paginator.num_pages}}</a>
      {% endif %}
          {% comment %} <span>....</span>
          <a href="?page={{ orders.paginator.num_pages }}">{{orders.paginator.num_pages}}</a> {% endcomment %}
      {% endif %}
  {% comment %} </span> {% endcomment %}
</div>
{% endif %}

{% endblock content %}
