{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock title %}
{% block content %}
<section class="twoBlocks__projects">
  <div class="leftBlock__projects">
    <div class="buttonsBlock__projects">
      <a class="primary activeBtn" href="{% url 'projects' %}">Заказы</a>
      <a class="primary" href="{% url 'services' %}">Услуги</a>
      <a class="primary " href="{% url 'freelancers' %}">Специалисты</a>
    </div>
    <div class="inputBlock__projects">
      <form action="" method='GET'>
        <div class="search">
          <input type="text" placeholder="Поиск" name='query'>
          <input class="secondary" type="submit" value='Найти заказ' style="width: 188px; text-align:center;">
        </div>
      </form>
    </div>

    
    {% if orders%}

    {% else %}
    <h2 class='emptyHeading' 
    style=
    'text-align:center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    '>Ничего не найдено</h2>
    {% endif %}
    <div class="ordersBlock__projects">
      {% for i in orders %}
      {% if i.owner != request.user %}
      <div class="orderAllBlock">
        <div class="orderBlock">
          <div class="left__orderBlock">
            <h5>{{i.title}}</h5>
            <div class="nameLogo__orderBlock">
              <div class="logo__orderBlock">
                <img src="{% static 'img/Vertical container (1).png' %}" alt="">
              </div>
              <div class="name__orderBlock">{{i.owner.username}}</div>
            </div>
          </div>
          <div class="right__orderBlock">
            <div class="moneyBtn__orderBlock">
              <div class="money__orderBlock">
                <span>{{i.budget}} сум</span>
                <div class="views__orderBlock">
                  <div class="eyeLogo__orderBlock">
                    <img src="{% static 'img/fi-rr-eye (1)' %}" alt="">
                  </div>
                  <span>Просмотров {{i.views}}</span>
                </div>
              </div>
              {{i.created_at|timesince}} ago

              <div class="btn__orderBlock">
                <a href="{% url 'project-detail' i.pk %}"><input class="secondary" type="submit" value="Откликнутся"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
 
    </div>
  </div>
  <div class="rightBlock__projects">
    <div class="btn__orderBlock">
      <a class="secondary" href="{% url 'create-order' %}">Создать задание</a>
    </div>
    <div class="services">
      <h4>Сфера услуг</h4>
      <form action="{% url 'projects' %}" class="form__services" method="GET">
        {% for i in categories %}
        <label for="{{i.name}}">
          <input type="checkbox" name="category" id="{{i.name}}" value='{{i.name}}'>
          <label for="category">{{ i.name }}</label>
        </label>
        {% endfor %}
        <button type="submit" class="secondary">Применить</Submit>
      </form>
    </div>
  </div>


</section>
{% comment %} <div class="pageNumbers__projects">
  <a href="#"><img src="./img/Group 11.svg" alt=""></a>
  <a href="#">1</a>
  <a class="activeNumber__projects" href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">...</a>
  <a href="#"><img src="./img/Group 16.svg" alt=""></a>
</div> {% endcomment %}

{% if orders %}
<div class="pagination pageNumbers__projects" style='gap: 20px;'>
  {% comment %} <span class="step-links"> {% endcomment %}
      {% if orders.has_previous %}
          {% comment %} <a href="?page=1">&laquo; first</a> {% endcomment %}
          <a href="?page={{ orders.previous_page_number }}">{{orders.previous_page_number}}</a>
      {% endif %}

      <span class="current-page">
          {% comment %} Page {{ orders.number }} of {{ orders.paginator.num_pages }} {% endcomment %}
          {% if orders.paginator.num_pages == 1 %}
          <a class='activeNumber__projects' style='text-align:center;'>
            1
          </a>
          {% else %}
          <a class='activeNumber__projects' style='text-align:center;'>
            {{ orders.number }}
          </a>
          {% endif %}
      </span>
      {% if orders.has_next %}
      {% if orders.paginator.num_pages <= 2 %}
      <a href="?page={{ orders.next_page_number }}">{{orders.next_page_number}}</a>
      {% else %}
      <a href="?page={{ orders.paginator.num_pages }}">{{orders.paginator.num_pages}}</a>
      {% endif %}
          {% comment %} <span>....</span>
          <a href="?page={{ orders.paginator.num_pages }}">{{orders.paginator.num_pages}}</a> {% endcomment %}
      {% endif %}
  {% comment %} </span> {% endcomment %}
</div>
{% endif %}

{% endblock content %}
    <script src="./js/script.js"></script>
</body>
</html>