{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Registration_your_accaunt</title>
</head>
<body>
  <form class="formReg" action="#" method='POST'>
    {% csrf_token %}
    <div class="imgLogo">
      <img src="{% static 'img/logo.png' %}" alt="" />
    </div>
    <p>Регистрация</p>
    <div class="formInputBlock">
      <label for=""
        >Логин:
        {{form.username}}
        <span class='regForm__error'>
          {{form.username.errors}}
        </span>
      </label>
      <label for=""
        >Email:
        {{form.email}}
        <span class='regForm__error'>
          {{form.email.errors}}
          {{email_error}}
        </span>
      </label>
      <label for=""
        >Пароль:
        {{form.password1}}
        <span class="regForm__error">
          {{form.password1.errors}}
        </span>
      </label>
      <label for=""
        >Пароль:
        {{form.password2}}
        <span class="regForm__error">
          {{form.password2.errors}}
        </span>
      </label>
    </div>
    <div class="formChekFlex">
      <input class="chekbox" type="checkbox" name='offer' />
      <label for="">
        Я принимаю условия <a href="#">пользовательского соглашения</a>
      </label>
  
    </div>
    <span class="regForm__error">
      {{offer_error}}
      <br>
      <br>
    </span>
    <span class="regForm__link"
          >Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></span
        >
    <input class="secondary regForm" type="submit" value="Регистрация" />
  
    <div class="enterWith">
      <span>Войти с помощью</span>
      <div class="enterWithIcons">
        <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'img/google.svg' %}" alt="" /></a>
        <a href="#"><img src="{% static 'img/discord.svg' %}" alt="" /></a>
        <a href="#"><img src="{% static 'img/facebook.svg' %}" alt="" /></a>
      </div>
    </div>
  </form>


  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>