<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="headerLeft">
            <img src="./img/logo.svg" alt="">
            <div class="pages">
                <a href="./index.html"><span>Главная</span></a>
                <a href="./project__orders.html"><span>Проекты</span></a>
                <a href="./project__specialists.html"><span>Специалисты</span></a>
                <a href="#"><span>Помощь</span></a>
            </div>
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu">
                <div>
                    <ul>
                    <li><a href="./index.html">Главная</a></li>
                    <li><a href="./project__orders.html">Проекты</a></li>
                    <li><a href="./project__specialists.html">Специалисты</a></li>
                    <li><a href="#">Помощь</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="headerRight">
            <div class="lang">
                <div class="langRu">
                    <img src="./img/lang.svg" alt="">
                    <span>ru</span>
                    <img src="./img/arrow.svg" alt=""> 
                </div>
                <div class="langUz">
                    <img src="./img/lang.svg" alt="">
                    <span>uz</span>
                </div>
            </div>
            
        </div>
        <div class="headBtnOne">
            <a href="./enter.html"><span class="primary">Вход</span></a>
            <a href="./registration.html"><span class="secondary">Регистрация</span></a>  
        </div>
        <div class="headBtnOneAnother">
            <a href="#"><img src="./img/message.svg" alt=""></a> 
            <a href="#"><img src="./img/bulb.svg" alt=""></a>
            <a class="userMenu" href="#"><img src="./img/user.svg" alt=""></a>
            <div class="userMenuWindow none">
                <a href=""><span>Профиль</span></a>
                <a href=""><span>Мои Заказы</span></a>
                <a href=""><span>Личный кабинет</span></a>
                <a href=""><span>Мой кошелек</span></a>
                <a href=""><span>Настройки</span></a>
                <a href=""><span>Выйти</span></a>
            </div>
        </div>
        
    </header>
    <main class="mainAboutPage">
        <div class="mainLeft">
            <a href="./project__orders.html"><h1>Все проекты</h1></a>
            <div class="targetBnt">
                <a href=""><span class="primary">Архив</span></a>
                <a href=""><span class="secondary">Активные</span></a> 
            </div>
            <p class="maiAabout">Описание проекта</p>
            <h2>Таргеттированная реклама</h2>
            <div class="mainPrice">
                <p>Цена от  600 000 сум за проект</p>
                <p>Срок: 10 рабочих дней</p>
            </div>
            <div class="mainSpan">
                <span>Необходимо определить приоритетные рекламные каналы, провести тестирования и определить бюджет и ROI.</span>
                <span>Предполагаемые каналы - Facebook, linkedin, VK, контекст.Гео - Россия, СНГ, русскоговорящая аудитория других стран.</span>
                <span>Возможно дальнейшее сотрудничество в качестве интернет-маркетолога.Возможно взаимодействие в качестве консалтинга.</span>
            </div>
            <p class="maiAabout">Оставить отзыв</p>
            <div class="targetStars">
                <img class="starOne" src="./img/star.svg" alt="">
                <img class="starTwo" src="./img/star.svg" alt="">
                <img class="starThree" src="./img/star.svg" alt="">
                <img class="starFour" src="./img/star.svg" alt="">
                <img class="starFive" src="./img/star.svg" alt="">
            </div>
            <div class="messagesServesLeft">
                <div></div>
                <input type="text" name="textUsers" id="userText" placeholder="Напишите что нибудь"></ш>
                <a href=""><img class="inputFileSend" src="./img/fileInput.svg" alt=""></a>
                <a href=""><img class="inputSpeak" src="./img/mycrophoneInput.svg" alt=""></a>
            </div>
            <div class="targetBnt">
                <a href=""><span class="secondary target">Выполнено</span></a> 
                <a href=""><span class="primary target">Не выполнено</span></a>
            </div>
        </div>
        <div class="mainRightTarget target">
            <div class="blueRightTarget">
                <div class="friend target">
                    <img class="faceUser" src="./img/userPonomareva.png" alt=""><img class="status" src="./img/useronline.svg" alt="">
                    <div class="NameUserTarget">
                        <span class="nameUsertarget">Е. И. Пономарева</span>
                        <span class="ProfTarget">Таргет</span>
                    </div>
                </div>
                <div class="wayWorkTarget">
                    <div class="targetComplited">
                        <img src="./img/Rating bar.svg" alt="">
                    </div>
                    <div class="targetStady">
                        <span>Выполнено</span>
                        <span>Согласованно</span>
                        <span>Начло работы</span>
                    </div>
                </div>
            </div>
            <div class="targetSendPrimaryRight">
                <a href="./messages1.html"><span class="primary">Отправить сообщение</span></a>
            </div>
        </div>

    </main>

    <footer>
        <div class="w6One">
            <img class="footerLogo" src="./img/logo.svg" alt="">
            <div class="w6PayMe">
                <a href="#"><img src="./img/visa.svg" alt=""></a>
                <a href="#"><img src="./img/unionpay.svg" alt=""></a>
                <a href="#"><img src="./img/mastercard.svg" alt=""></a>
            </div>
            <div class="w6CMMCopy">
                <span>Follow us:</span>
                <a href="#"><img src="./img/instagram.svg" alt=""></a>
                <a href="#"><img src="./img/telegram.svg" alt=""></a>
                <a href="#"><img src="./img/youtube.svg" alt=""></a>
                <a href="#"><img src="./img/linkedin.svg" alt=""></a>
            </div>
            <span>Copyright© TEHNIKUM SCHOOL LLC. All rights reserved.</span>
        </div>
        <div class="w6Two">
            <div class="pages">
                <a href="./index.html"><span>Главная</span></a>
                <a href="./project__orders.html"><span>Проекты</span></a>
                <a href="./project__specialists.html"><span>Специалисты</span></a>
                <a href="#"><span>Помощь</span></a>
            </div>
            <div class="w6CMM">
                <span>Follow us:</span>
                <a href="#"><img src="./img/instagram.svg" alt=""></a>
                <a href="#"><img src="./img/telegram.svg" alt=""></a>
                <a href="#"><img src="./img/youtube.svg" alt=""></a>
                <a href="#"><img src="./img/linkedin.svg" alt=""></a>
            </div>
        </div>
    </footer>


    <script src="./js/script.js"></script>
</body>
</html>