{% extends 'base.html' %}
{% load static %}
{% block title %}
Order: {{order.title|truncatewords:2}}
{% endblock title %}
{% block content %}
<main class="mainAboutPage">
    <div class="mainLeft">
        {% comment %} <a href="./project__orders.html"><h1>Все проекты</h1></a> {% endcomment %}
        {% comment %} <div class="targetBnt">
            <a class="btnClass primary " href="{% url 'my-orders-freelancer' 'in_progress' %}">Активные</a>
            <a class="btnClass primary" href="{% url 'my-orders-freelancer' 'canceled' %}">Архив</a>  
        </div> {% endcomment %}
        <p class="maiAabout">Описание проекта</p>
        <h2>{{order.title}}</h2>
        <div class="mainPrice">
            <p>Цена от  {{order.budget}} сум за проект</p>
            {% comment %} ? untill this date 
             <p>Срок до: {{order.deadline|date:"F j, Y"}}</p> 
             {% endcomment %}
            {% comment %} ? how many days {% endcomment %}
            <p>Срок: {{days_left}} рабочих дней</p>
        </div>
        <div class="mainSpan">
            <span>{{order.description}}</span>
        </div>
        <p class="maiAabout">Оставить отзыв</p>
        <div class="targetStars">
            <img class="starOne" src="{% static 'img/star.svg' %}" alt="">
            <img class="starTwo" src="{% static 'img/star.svg' %}" alt="">
            <img class="starThree" src="{% static 'img/star.svg' %}" alt="">
            <img class="starFour" src="{% static 'img/star.svg' %}" alt="">
            <img class="starFive" src="{% static 'img/star.svg' %}" alt="">
        </div>
        {% if feedback.is_published %}
        {% comment %} <div class="messagesServesLeft"> {% endcomment %}
            <div class="senderData" style='display:flex; align-items:center; gap:15px '>
                {% if feedback.sender.image %}
                <img class="faceUser" src="{{feedback.sender.image.url}}" alt="">
                {% endif %}
                <span>
                    {% if feedback.sender.first_name %}
                    {{feedback.sender.first_name}}</span>
                    {% else %}
                    {{feedback.sender.username}}</span>
                    {% endif %}
            </div>
            <div class='feedback'>
                <span style='display:block; font-size: 18px; font-weight: 600; padding:20px; border: 2px solid var(--blue);
                border-radius: 0.5em; margin-top: 15px;'>{{feedback.feedback}}</span>
                <br>
                <span style="font-size: 16px; ">{{feedback.created_at|timesince}} ago</span>
            </div>
        {% comment %} </div> {% endcomment %}
        {% else %}
        <div class="messagesServesLeft">
            <div>
            </div>
            <form action="" method='POST'>
                {% csrf_token %}
                <input type="text" name="feedback" id="userText" placeholder="Напишите что нибудь">
            </form>
            <a href=""><img class="inputFileSend" src="{% static 'img/fileInput.svg' %}" alt=""></a>
            <a href=""><img class="inputSpeak" src="{% static 'img/mycrophoneInput.svg' %}" alt=""></a>
        </div>
        {% endif %}
        <div class="targetBnt">
            <a href="{% url 'my-orders-completed' order.id %}"><span class="secondary target">Выполнено</span></a> 
            <a href="{% url 'my-orders-canceled' order.id %}"><span class="primary target">Не выполнено</span></a>
        </div>
        {% if request.user == order.owner %}
        <a href="{% url 'chat' order.id %}"><input class="secondary" type="submit" value="Редактировать"></a>
        {% endif %}
    </div>
    <div class="mainRightTarget target">
        <div class="blueRightTarget">
             
            {% if order.owner.image %}
            <div class='ownerImage' style=
            "background: url({{order.owner.image.url}});
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 200px;
            height: 200px;
            "
            ></div>
            {% else %}
           <span>Пользовавтель еще не выбрал картинку</span>
            {% endif %} 
            <div class="mainRightHead">
                <div class="mainRightHeadChild">
                    <div class="UnitelLLC">
                        <img src="{% static 'img/BlueCircle (1).svg' %}" alt="">
                        <span>{{order.owner.username}}</span>
                    </div>
                    <div>
                        <span>Рейтинг заказчика</span>
                    </div>
                </div>
                <div class="mainRightHeadChild">
                    <div class="GEO">
                        <img src="{% static 'img/position.svg' %}" alt="">
                        <span>
                            {% if order.owner.city %}
                            {{order.owner.city}}
                            {% else %}
                            Не указано
                            {% endif %}
                        </span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'img/star.svg' %}" alt="">
                        <span>
                            {% if order.owner.rating %}
                            {{order.owner.rating}}/10
                            {% else %}
                            Не указано
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <span class="mainSpanBold">Статистика заказчика</span>
            <div class="SearchVSComplete">
                <div class="searchExecutor">
                    <span>В поиске исполнителя</span>
                    <span>Завершенные заказы</span>
                </div>
                <div class="completeNum">
                    <span class="searchExecutorNum">{{owner_waiting_orders.count}}</span>
                    <span class="completeNum">{{owner_active_orders.count}}</span>
                </div>
            </div>
            <span class="mainSpanBold">Контакты заказчика</span>
            {% if order.owner.phone_number1 and order.owner.phone_number2 %}
            <span>{{order.owner.phone_number1}}</span>
            <span>{{order.owner.phone_number2}}</span>
            {% elif order.owner.phone_number1 %}
            <span>{{order.owner.phone_number1}}</span>
            {% else %}
            <span>Номер телефона не указан</span>
            {% endif %}
            <span>{{order.owner.email}}</span>        
        </div>
        {% if request.user != order.owner %}
        <div class="targetSendPrimaryRight">
            <a href="{% url 'chat' order.id %}"class="primary">Отправить сообщение</a>
        </div>
        {% endif %}
    </div>

</main>
{% endblock content %}