{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile - {{ user.username }}
{% endblock title %}
{% block content %}
<section class="userProfile__profile">
  <h2>Мой профиль</h2>
  <div class="mainSection__profile">
    <div class="imgMain__profile">
      {% if user.image %}
      <img src="{{user.image.url}}" alt="">
      {% else %}
      <img  alt="Не выбрано">
      {% endif %}
    </div>
    <div class="nameMain__profile">
      <div class="nameStarsMain__profile">
        {% if user.first_name and user.last_name %}
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        {% elif user.first_name %}
        <h2>{{user.first_name}}</h2>
        {% else %}
        <h2>{{user.username}}</h2>
        {% endif %}
        {% comment %} <div class="starsMain__profile">
          <img src="./img/fi-rr-star (1).png" alt="">
          <img src="./img/fi-rr-star (1).png" alt="">
          <img src="./img/fi-rr-star (1).png" alt="">
          <img src="./img/fi-rr-star (1).png" alt="">
          <img src="./img/fi-rr-star (1).png" alt="">
        </div>
      </div> {% endcomment %}
      <div class="locationMain__profile">
        <img src="{% static 'img/fi-rr-marker (1).png' %}" alt="">
        <span>
          {% if user.city and user.country %}
          {{user.city}}
          {{user.country}}
          {% else %}
          Не указано
          {% endif %}
        </span>
      </div>
      <input class="secondary regForm" type="submit" value="Написать сообщение">
    </div>
  </div>
</section>


<section class="dateEmailNum__profile">
  <div class="date__profile">
    <h5>Дата рождения</h5>
    <span>
      {% if user.date_of_birth %}
      {{user.date_of_birth}}
      {% else %}
      Не указано
      {% endif %}
    </span>
  </div>
  <div class="date__profile">
    <h5>Email</h5>
    <a href="mailto:{{user.email}}"><span>{{user.email}}</span></a>
  </div>
  <div class="date__profile">
    <h5>Номер рабочего телефона</h5>
    {% if user.phone_number1 %}
    {{user.phone_number1}}
    {% else %}
    Не указано
    {% endif %}
  </div>
</section>

<section class="experienceLanguages__profile">

  <div class="expLangs__profile">
    <div class="h5__with__pancil">
      <h5>Языки</h5>
    </div>
    {% if user.languages %}
    {{user.languages}}
    {% else %}
    Не указано
    {% endif %}
  </div>
</section>

<section class="inform__profile">
  <div class="h5__with__pancil">
    <h5>Информация о {{user.username}}</h5>
  </div>
  {% if user.personal_info %}
  {{user.personal_info}}
  {% else %}
  Не указано
  {% endif %}
</section>

<section class="inform__profile">
  <div class="h5__with__pancil">
    <h5>Образование</h5>
  </div>
  {% if user.education %}
  {{user.education}}
  {% else %}
  Не указано
  {% endif %}
</section>

{% endblock content %}

