{% extends 'base.html' %}
{% load static %}
{% block title %}
My profile
{% endblock title %}
{% block content %}
<section class="userProfile__profile">
<form action="{% url 'profile' request.user.id %}" method="POST">
  {% csrf_token %}
  <h2>Мой профиль</h2>
  <div class="mainSection__profile">
    <div class="imgMain__profile">
      <img src="{% static 'img/Switch (1).jpg' %}" alt="">
    </div>
    <div class="nameMain__profile">
      <div class="nameStarsMain__profile">
        {% if user.first_name and user.last_name %}
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        {% elif user.first_name %}
        <h2>{{user.first_name}}</h2>
        {{form.last_name}}
        {% else %}
        <br>
        {{form.username}}
        {{form.first_name}}
        {{form.last_name}}
        {% endif %}
        {% comment %} <div class="starsMain__profile">
          <img src="./img/fi-rr-star (1).png" alt="">
          <img src="./img/fi-rr-star (1).png" alt="">
          <img src="./img/fi-rr-star (1).png" alt="">
          <img src="./img/fi-rr-star (1).png" alt="">
          <img src="./img/fi-rr-star (1).png" alt="">
        </div> {% endcomment %}
      </div>
      <div class="locationMain__profile">
        <img src="{% static 'img/fi-rr-marker (1).png' %}" alt="">
        {{form.city}}
        {{form.country}}
      </div>
    </div>
  </div>
</section>


<section class="dateEmailNum__profile">
  <div class="date__profile">
    <h5>Дата рождения</h5>
    <span>{{form.date_of_birth}}</span>
  </div>
  <div class="date__profile">
    <h5>Email</h5>
    <a href="mailto:Ponamareva@gmail.com"><span>{{user.email}}</span></a>
  </div>
  <div class="date__profile">
    <h5>Номер рабочего телефона</h5>
    {% comment %} <a href="tel:+998901234567"><span>{{form.phone_number1}}</span></a> {% endcomment %}
    {{form.phone_number1}}
  </div>
</section>

<section class="experienceLanguages__profile">
  {% comment %} <div class="expLangs__profile">
    <div class="h5__with__pancil">
      <h5>Опыт работы</h5>
      <img src="./img/fi-rr-pencil (1).png" alt="">
    </div>
    <div class="exp__profile">
      <span>Studio, старший дизайнер UX/UI</span>
      <span>2019-2023</span>
    </div>
    <hr>
    <div class="exp__profile">
      <span>Studio, младший дизайнер UX/UI</span>
      <span>2014-2019</span>
    </div>
  </div> {% endcomment %}
  <div class="expLangs__profile">
    <div class="h5__with__pancil">
      <h5>Языки</h5>
      {% comment %} <img src="{% static 'img/fi-rr-pencil (1).png' %}" alt=""> {% endcomment %}
    </div>
    <div class="lang__profile">
      {{form.languages}}
    </div>
    <hr>
  </div>
</section>

<section class="inform__profile">
  <div class="h5__with__pancil">
    <h5>Информация о 
      {% if user.first_name %}
      {{user.first_name}}
      {% else %}
      {{user.username|capfirst}}
      {% endif %}
    </h5>
    <img src="./img/fi-rr-pencil (1).png" alt="">
  </div>
  <p>{{form.personal_info}}
  </p>
</section>

<section class="inform__profile">
  <div class="h5__with__pancil">
    <h5>Образование</h5>
    <img src="./img/fi-rr-pencil (1).png" alt="">
  </div>
  <span>{{form.education}}</span>
</section>

<input type="submit" value='Сохранить'>
</form>

{% endblock content %}