{% extends 'base.html' %}
{% load static %}
{% block title %}
Step 2
{% endblock title %}
{% block content %}
<main class="walletReplenishment">
    <h3>Пополнение электронного кошелька</h3>
    <div class="walletReplenishmentForm">
        <img class="walletReplenishmentFormImg WalletSecond" src="{% static 'img/Load1.svg' %}" alt="">
        <form action="" method='POST'>
            <div class="walletReplenishmentText">
                <span>Номер карты</span>
            </div>
            <input type='text' placeholder="0000 XXXX XXXX 0000" onkeypress='validate(event)'>
            <div class="anotherOpsCard">
                <div>
                    <span>Срок</span>
                    <input type='text' placeholder="12/26" onkeypress='validate(event)'>
                </div>
                <div>
                    <span>CVV</span>
                    <input type='text' placeholder="XXX" onkeypress='validate(event)'>
                </div>
            </div>
            <div class="amount">
                <span>Сумма: </span>
                <span>{{payment.amount}} {{payment.currency|upper}} </span>
            </div>
            <div class="footerFormOne">
                <input type='submit' name='amount' class="secondary formWalletPush" value="Далее">
                <div>
                    <a href="#"><img src="{% static 'img/visa.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/unionpay.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/mastercard.svg' %}" alt=""></a>
                </div>
            </div>
        </form>
    </div>

</main>
{% endblock content %}

