<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="headerLeft">
            <img src="./img/logo.svg" alt="">
            <div class="pages">
                <a href="./index.html"><span>Главная</span></a>
                <a href="./project__orders.html"><span>Проекты</span></a>
                <a href="./project__specialists.html"><span>Специалисты</span></a>
                <a href="#"><span>Помощь</span></a>
            </div>
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu">
                <div>
                    <ul>
                    <li><a href="./index.html">Главная</a></li>
                    <li><a href="./project__orders.html">Проекты</a></li>
                    <li><a href="./project__specialists.html">Специалисты</a></li>
                    <li><a href="#">Помощь</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="headerRight">
            <div class="lang">
                <div class="langRu">
                    <img src="./img/lang.svg" alt="">
                    <span>ru</span>
                    <img src="./img/arrow.svg" alt=""> 
                </div>
                <div class="langUz">
                    <img src="./img/lang.svg" alt="">
                    <span>uz</span>
                </div>
            </div>
            
        </div>
        <div class="headBtnOne">
            <a href="./enter.html"><span class="primary">Вход</span></a>
            <a href="./registration.html"><span class="secondary">Регистрация</span></a>  
        </div>
        <div class="headBtnOneAnother">
            <a href="#"><img src="./img/message.svg" alt=""></a> 
            <a href="#"><img src="./img/bulb.svg" alt=""></a>
            <a class="userMenu" href="#"><img src="./img/user.svg" alt=""></a>
            <div class="userMenuWindow none">
                <a href=""><span>Профиль</span></a>
                <a href=""><span>Мои Заказы</span></a>
                <a href=""><span>Личный кабинет</span></a>
                <a href=""><span>Мой кошелек</span></a>
                <a href=""><span>Настройки</span></a>
                <a href=""><span>Выйти</span></a>
            </div>
        </div>
        
    </header>
    <main class="walletReplenishment Third">
        <h3>Пополнение электронного кошелька</h3>
        <div class="walletReplenishmentForm Third">
            <img class="goodOperImg" src="./img/Илюстрация не все ок.svg" alt="">
            <h5>Оплата не прошла</h5>
            <a href="./walletReplenishment.html" class="secondary formWalletPush">На главную страницу</a>
                
            </div>
        </div>

    </main>



    <footer>
        <div class="w6One">
            <img class="footerLogo" src="./img/logo.svg" alt="">
            <div class="w6PayMe">
                <a href="#"><img src="./img/visa.svg" alt=""></a>
                <a href="#"><img src="./img/unionpay.svg" alt=""></a>
                <a href="#"><img src="./img/mastercard.svg" alt=""></a>
            </div>
            <div class="w6CMMCopy">
                <span>Follow us:</span>
                <a href="#"><img src="./img/instagram.svg" alt=""></a>
                <a href="#"><img src="./img/telegram.svg" alt=""></a>
                <a href="#"><img src="./img/youtube.svg" alt=""></a>
                <a href="#"><img src="./img/linkedin.svg" alt=""></a>
            </div>
            <span>Copyright© TEHNIKUM SCHOOL LLC. All rights reserved.</span>
        </div>
        <div class="w6Two">
            <div class="pages">
                <a href="./index.html"><span>Главная</span></a>
                <a href="./project__orders.html"><span>Проекты</span></a>
                <a href="./project__specialists.html"><span>Специалисты</span></a>
                <a href="#"><span>Помощь</span></a>
            </div>
            <div class="w6CMM">
                <span>Follow us:</span>
                <a href="#"><img src="./img/instagram.svg" alt=""></a>
                <a href="#"><img src="./img/telegram.svg" alt=""></a>
                <a href="#"><img src="./img/youtube.svg" alt=""></a>
                <a href="#"><img src="./img/linkedin.svg" alt=""></a>
            </div>
        </div>
    </footer>


<script src="./js/script.js"></script>
</body>
</html>