{% extends 'base.html' %}
{% load static %}
{% block title %}
Step 1
{% endblock title %}
{% block content %}
<main class="walletReplenishment">
    <h3>Пополнение электронного кошелька</h3>
    <div class="walletReplenishmentForm">
        <img class="walletReplenishmentFormImg" src="{% static 'img/Load1.svg' %}" alt="">
        <div class="walletReplenishmentText">
            <span>Введите сумму</span>
            <span class="uzMoney" >сум</span>
        </div>
        <form action="" method='POST'>
            {% csrf_token %}
            <input type='text' onkeypress='validate(event)'>
            <div class="footerFormOne">
                <input type='submit' name='amount' class="secondary formWalletPush" value="Далее">
                <div>
                    <a href="#"><img src="{% static 'img/visa.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/unionpay.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/mastercard.svg' %}" alt=""></a>
                </div>
            </div>
        </form>
    </div>

</main>
{% endblock content %}



